<!doctype html>
<html lang="{{lang}}" class="no-js">

<head>
  {{> partials/meta}} {{> partials/scripts-initial}}
</head>

<body>
  {{> layout/header}} {{> layout/main}} {{> layout/footer}}
</body>
{{> partials/scripts}}

</html>