body {
  font-family: $body-font-family;
  font-size: $textSmaller;
  line-height: $lineHeight;
  color: $bodyColor;
  background-color: lightgrey;
  -ms-overflow-style: none;
  margin: 0 !important;
  @media (max-width: $breakpoint-md) {
    font-size: $textSmall;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}
h1 {
  font-size: 2.8em;
  font-weight: $light-font-weight;
}
h2 {
  font-size: 2.4em;
  font-weight: $light-font-weight;
}
h3 {
  font-size: 2em;
  font-weight: $light-font-weight;
}
h4 {
  font-size: 1.5em;
  font-weight: $light-font-weight;
}
.white {
  color: white;
}

a {
  cursor: pointer;
}

input,
textarea {
  font-size: $textSmall;
  font-family: $body-font-family;
}
