// Font Size
$body-font-size: 100%;

// Line height
$default-line-height: 1.2;

// Letter spacing
$default-letter-spacing: normal;

// Font Family
$heading-font-family: "Montserrat", sans-serif;
$body-font-family: "Montserrat", sans-serif;

// Font Weight
$heading-font-weight: 700;
$semiBold-font-weight: 600;
$medium-font-weight: 500;
$regular-font-weight: 400;
$light-font-weight: 200;

// Text sizes
$textSmaller: 0.825rem; //12px
$textSmall: 0.875rem; //14px
$textNormal: 1rem;
$textLarge: 1.125rem; //18px
$textLarger: 1.25rem; //20px

$lineHeightSmall: 1.6rem;
$lineHeight: 1.8rem;
