// Variables

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 600px;
$breakpoint-mds: 800px;
$breakpoint-lg: 1240px;
$breakpoint-xl: 1440px;

$container-xs: 0;
$container-sm: 450px;
$container-md: 560px;
$container-mds: 760px;
$container-lg: 1040px;
$container-xl: 1240px;

$grid-breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  mds: $breakpoint-mds,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
) !default;

$container-max-widths: (
  xs: $container-xs,
  sm: $container-sm,
  md: $container-md,
  mds: $container-mds,
  lg: $container-lg,
  xl: $container-xl
) !default;

// colors
$primary: #010811;
$bodyColor: gray;